<div class="form-group">
    <h3>{{localize "CORE-EXPANDED.SCENES.Title"}}</h3>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.Label"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.OverrideEnabled"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Scene.EnableSceneOverride" data-dtype="Boolean" {{checked Scene.EnableSceneOverride}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.OverrideEnabledLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.GridType"}}</label>
    <div class="form-fields">
        <select name="Scene.GridType">
            {{selectOptions gridTypes selected=Scene.GridType}}
        </select>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.GridTypeLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.BackgroundColor"}}</label>
    <div class="form-fields">
        {{colorPicker name="Scene.BackgroundColor" value=Scene.BackgroundColor}}
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.BackgroundColorLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.GridSize"}}</label>
    <div class="form-fields">
        <input type="number" name="Scene.GridSize" data-dtype="Number" value="{{Scene.GridSize}}" />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.GridSizeLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.PaddingPercentage"}}</label>
    <div class="form-fields">
        <input type="range" min="0" max="1" step="0.05" name="Scene.PaddingPercentage" data-dtype="Number" value="{{Scene.PaddingPercentage}}" />
        <span class="range-value">{{Scene.PaddingPercentage}}</span>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.PaddingPercentageLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.GridScale"}}</label>
    <div class="form-fields">
        <label class="grid-label">{{localize "SCENES.GridDistance"}}</label>
        <input type="number" name="Scene.GridScale.distance" data-dtype="Number" value="{{Scene.GridScale.distance}}" />
        <label class="grid-label">{{localize "SCENES.GridUnits"}}</label>
        <input type="string" name="Scene.GridScale.units" data-dtype="String" value="{{Scene.GridScale.units}}" />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.GridScaleLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.GridColor"}}</label>
    <div class="form-fields">
        {{colorPicker name="Scene.GridColor" value=Scene.GridColor}}
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.GridColorLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.GridOpacity"}}</label>
    <div class="form-fields">
        <input type="range" min="0" max="1" step="0.05" name="Scene.GridOpacity" data-dtype="Number" value="{{Scene.GridOpacity}}" />
        <span class="range-value">{{Scene.GridOpacity}}</span>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.GridOpacityLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.TokenVision"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Scene.TokenVision" data-dtype="Boolean" {{checked Scene.TokenVision}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.TokenVisionLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.FogExploration"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Scene.FogExploration" data-dtype="Boolean" {{checked Scene.FogExploration}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.FogExplorationLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.UnrestrictedVisionRange"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Scene.UnrestrictedVisionRange" data-dtype="Boolean" {{checked Scene.UnrestrictedVisionRange}} />
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.UnrestrictedVisionRangeLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.DarknessLevel"}}</label>
    <div class="form-fields">
        <input type="range" min="0" max="1" step="0.1" name="Scene.DarknessLevel" data-dtype="Number" value="{{Scene.DarknessLevel}}" />
        <span class="range-value">{{Scene.DarknessLevel}}</span>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.DarknessLevelLabel"}}</p>
</div>
<div class="form-group">
    <label>{{localize "CORE-EXPANDED.SCENES.VisionLimitationEnabled"}}</label>
    <div class="form-fields">
        <input type="checkbox" name="Scene.VisionLimitationEnabled" data-dtype="Boolean" {{checked Scene.VisionLimitationEnabled}} />
        <input type="range" min="0" max="1" step="0.1" name="Scene.VisionLimitationThreshold" data-dtype="Number" value="{{Scene.VisionLimitationThreshold}}" />
        <span class="range-value">{{Scene.VisionLimitationThreshold}}</span>
    </div>
    <p class="notes">{{localize "CORE-EXPANDED.SCENES.VisionLimitationEnabledLabel"}}</p>
</div>